/* estilos del footer*/
.footer{
    background: #181818;
    color: #F7F5F5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 25%;
}

/* PARTE RESPONSIVE***************************************************************************** */
@media only screen and (max-width:730px) {
    /*imagen*/
    .text_h4{
        font-size: 15px;
    }
    .icons{
        width: 40%;
    }
    .icons a img{
        width: 29px;
        }

    .lista_texto li{
        font-size: 15px;
    }
}
/* PARTE RESPONSIVE***************************************************************************** */
@media only screen and (max-width:500px) {
    .text_h4{
        font-size: 10px;
    }
    .icons{
        width: 30%;
    }
    .icons a img{
        width: 19px;
        }

    .lista_texto li{
        font-size: 10px;
    }

}