/* Estilos del navbar */
.nabvarstyle {
    background-color: #AAD3DC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 15vh;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;

}

.navbartext-container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    margin-top:0.5rem;
    border-top: 1px solid #87cede;
    background-color: #9dd4e0;
    justify-content: center;
    width: 100%;
}

.logo{
    width: 50px;
    height: 50px;
}
.logo_text{
    width: 12%; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbartex{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

.navbartex-item {
    font-size: large;
    color: #181818;
    text-decoration: none;
}

.navbartex-item:hover{
    color: #A35B33; 
    font-size:x-large;
    transition: 1s all;
}

.banner{
    background-image: url("https://img.freepik.com/vector-premium/concepto-banner-horizontal-clinica-veterinaria_96318-1241.jpg?w=2000");
    padding: 25%;
    background-size: contain;
    background-position: top center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    height: 15rem;
}

.banner::after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: -1;

}

.position-banner {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.active-menu-item {
    background-color: #A35B33;
    color: white;
    border-radius: 0.5rem;
    padding: 0.2rem;
}

.active-menu-item:hover {
    color: white;
}

.non-active-menu-item {
    text-decoration: none;   
    color: black; 
}

.banner-text {
    color: white;
    font-size: 3.5rem;
    margin: 0 auto;
}

.banner-text b {
    color: #A35B33;
}
/* PARTE RESPONSIVE***************************************************************************** */
@media only screen and (max-width:1200px) {
    .navbartex{
        width: 65%;
    }
    .nabvarstyle {
        height: 20vh;
    }
    .banner-text {
        font-size: 2.5rem;
    }
    .banner {
            margin-top: 20vh;

    }
}
/* PARTE RESPONSIVE***************************************************************************** */
@media only screen and (max-width:730px) {
    .banner-text {
        font-size: 2rem;
    }
    .nabvarstyle {
        height: 20vh;
    }
    .banner {
            margin-top: 20vh;

    }
}
/* PARTE RESPONSIVE***************************************************************************** */
@media only screen and (max-width:500px) {
    .navbartex h3{
        font-size: 18px;
    }
    .banner-text {
        font-size: 1.5rem;
    }
    .nabvarstyle {
        height: 20vh;
    }
    .banner {
            margin-top: 20vh;

    }
}